body {
  margin: 0;
  font-size: 16px; /* set a base font size */
}

canvas {
  background: #333333;
  width: 100vw;
  height: calc(100vh - 80px); /* subtract the height of the input and p elements */
}

input {
  width: 80%;
  max-width: 250px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  color: white;
  font-size: 4vw; /* use vw units for font size to make it responsive */
  font-family: arial;
  text-align: center;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
}

p {
  position: fixed;
  left: 0;
  bottom: 5px;
  color: #fff;
  z-index: 10;
  font-size: 3vw; /* use vw units for font size to make it responsive */
  font-family: Helvetica, Verdana, sans-serif;
  opacity: 0.5;
  width: 100%;
  text-align: center;
  margin: 0;
}
